body {
            color: blue; 
            background-color: aqua; 
            font-family: sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
             text-align: center;
    }   