			body {
				color: blue;
				background-color: aqua;
				font-family: Verdana, Tahoma, sans-serif;
				font-size: 15px;
				margin: 0;
				padding: 20px;
			}
			table {
				border: 4px double #aaaaaa;
				width: 100%;
				border-collapse: collapse;
				margin: 20px auto;
			}
			th,td {
				color: black;
				text-align: center;
				font-size: 20px;
				width: 40px;
				height: 40px;
				border: 1px solid #ff00ff;
			}
			th { background-color: white;	color: black; }
			.reverse {
				background: black;
				color: White;
				height: 40px;
				font-size: 20px;
			}
			.diag {	background: #d8bfd8;	}